button {
  font-family: Georgia, "Times New Roman", Times, serif !important;
  background-color: #7557d2 !important;
  color: white !important;
  border: #7557d2 !important;
}
button:hover {
  background-color: #4d2fa5d0 !important;
}
h1 {
  color: #7857cf;
  font-family: Georgia, "Times New Roman", Times, serif;
}
div.box {
  background-color: rgba(255, 255, 255, 0.26);
  max-width: 800px;
  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;
}

div.main-data {
  margin-bottom: 30px;
}
div.weather {
  text-align: center;
  margin-top: 50px;
  font-size: 60px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

div.info {
  padding-top: 20px;
  margin-left: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgba(0, 0, 0, 0.397);
}
div.weather-forecast {
  margin-top: 10px;
}
div.next-day {
  margin: 0px 5px;
  text-align: center;
}
p {
  text-align: center;
  font-family: monospace;
  padding-top: 20px;
}
#description {
  text-transform: capitalize;
}

.open-source {
  text-decoration: none;
  color: #7557d2;
}
.open-source:hover {
  color: #5c3fb6da;
}

.max-temp {
  color: black;
  font-size: 23px;
}
.min-temp {
  color: black;
}
