button {
  font-family: Georgia, "Times New Roman", Times, serif !important;
}
h1 {
  color: #ffc400;
  font-family: Georgia, "Times New Roman", Times, serif;
}
div.box {
  border: 4px solid #ffc400;
  box-shadow: 5px 5px 5px #ffc40044;
  background-color: #ffc4001a;
  max-width: 800px;
  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;
}
div.main-data {
  margin-bottom: 30px;
}
div.weather {
  text-align: center;
  margin-top: 50px;
  font-size: 60px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

div.info {
  padding-top: 20px;
  margin-left: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgba(0, 0, 0, 0.397);
}
div.weather-forecast {
  margin-top: 10px;
}
div.next-day {
  margin: 0px 5px;
  text-align: center;
}
p {
  text-align: center;
  font-family: monospace;
  padding-top: 20px;
}
#description {
  text-transform: capitalize;
}

#celsius {
  text-decoration: none;
}

.open-source {
  text-decoration: none;
  color: #ffc400;
}
.open-source:hover {
  color: #ffc40083;
}

.max-temp {
  color: black;
  font-size: 23px;
}
.min-temp {
  color: black;
}
